$accent-color: green;
$color: #000;
$font-family : Arial;
$font-size: 20px;
$line-height: 1.2;
$title-1: 40px;
$title-2: 30px;
$title-3: 20px;
$title-4: 16px;
$title-5: 14px;
$title-6: 12px;
